{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet" />
  </head>
  <body>

    <div class="row">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">

        <div class="bg-success text-white p-3 ">
          <h1>Auctions</h1>
        </div>

        <div>
          {% if user.is_authenticated %} Signed in as <strong>{{ user.username }}</strong>.
          {% else %} Not signed in. {% endif %}
        </div>
        {% if user.is_authenticated %}
        <p></p>
        <a href="{% url 'create' %}">
          <button class="btn btn-success">
            <strong>+ Listing</strong>
          </button></a>
        <div class="p-1">
          <a href="{% url 'index' %}">Active Listings</a><br />
          <a href="{% url 'watchlist' %}">Watchlist</a><br />
          <a href="{% url 'logout' %}">Log Out</a><br />
        </div>
        {% else %}
        <div class="p-2">
          <a href="{% url 'index' %}">Active Listings</a><br />
          <a href="{% url 'login' %}">Log In</a><br />
          <a href="{% url 'register' %}">Register</a><br />
        </div>
        {% endif %}
        <hr />
        <div>
          <h5>Categories</h5>
          {% for category in categories %}
            <a href="/category/{{ category }}">{{ category }}</a><br />
          {% endfor %}
        </div>
      </div>
      <div class="col">{% block body %} {% endblock %}</div>
    </div>
  </body>
</html>
